.section__tree {
    height: 100vh;
    background: url(../img/flames-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background);
    padding: 3rem;
}

.section__tree .div__content {
    background-color: var(--background-two);
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    height: 90vh;
}

.section__tree .div__content .content__titulo {
    font-weight: 800;
    font-size: 3em;
}

.section__tree .div__content .content__texto {
    font-size: 1.5em;
}

@media (max-width: 720px) {
    .section__tree .div__content .content__titulo  {
        font-size: 2.5em;
    }
}


@media (max-width: 430px) {
    .section__tree .div__content {
        height: 50%;
    }

    .section__tree .div__content .viewer {
        height: 50%;
        align-items: center;
    }
}