.principal {
    display: flex;
}
.principal .principal__div__informations {
    margin: 2rem;
    margin-bottom: 9.5rem;
    
}

.principal .principal__div__informations .principal__titulo {
    font-weight: 800;
    font-size: 3em;
    color: var(--text-one);
}

.principal .principal__div__informations .principal__texto {
    font-family: var(--font-secundaria);
    font-weight: 200;
    color: var(--text-one);
    margin: 1rem 0 15rem 0;
}

.principal .principal__div__informations .principal__botao {
    text-decoration: none;
    color: var(--white);
    font-weight: 900;
    background: var(--degrade-dream);
    padding: 1rem;
    border-radius: 40px;
    transition: font-size 0.3s, color 0.3s
}

.principal .principal__div__informations .principal__botao:hover {
    font-size: 1.1em;
    color: var(--background-two);
}

@media (max-width: 720px) {
    .principal .principal__div__informations .principal__titulo {
        font-size: 2em;
    }
}



