.principal {
    display: flex;
}
.principal .principal__div__informations {
    margin: 2rem;
    margin-bottom: 9.5rem;
    
}

.principal .principal__div__informations .principal__titulo {
    font-weight: 800;
    font-size: 3em;
    color: var(--text-one);
}

.principal .principal__div__informations .principal__texto {
    font-family: var(--font-secundaria);
    font-weight: 200;
    color: var(--text-one);
    margin: 1rem 0 15rem 0;
}

.principal .principal__div__informations .principal__botao {
    text-decoration: none;
    color: var(--white);
    font-weight: 900;
    background: var(--degrade-dream);
    padding: 1rem;
    border-radius: 40px;
}




