.section__second {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15rem;
    text-align: center;
}

.section__second .second__titulo {
    font-size: 3em;
    margin: 5rem 0 1rem 0;
}

.section__second .second__titulo .titulo__strong {
    background: var(--degrade-dream);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.section__second .second__texto {
    font-family: var(--font-secundaria);
    font-weight: 400;
    margin: 1rem 0 7rem 0;
}

.section__second .container__second__div {
    display: flex;
    justify-content: center;
}

.section__second .container__second__div .contorno__div {
    border: solid;
    border-radius: 20px;
    padding: 3rem;
    margin: 1rem;
    
}

.section__second .container__second__div .icons__div {
    margin-bottom: 2rem;

}

.section__second .container__second__div .text__icons {
    margin-top: 3rem;
    font-family: var(--font-secundaria);
    font-size: 1.3em;
}


@media (max-width: 990px) {
    .section__second {
        padding: 0 8rem;
    }

    .section__second .container__second__div {
       width: 50%;
       
    }

    .section__second .container__second__div .contorno__div {
        padding: 2rem;
    }
}

@media (max-width: 789px) {
     .section__second .container__second__div .contorno__div {
        padding: 0;
     }

     .section__second .container__second__div .icons__div {
        height: 30%;
        margin-top: 1rem;
     }
}

@media (max-width: 720px) {
    .section__second .second__titulo {
        font-size: 2em;
        margin-bottom: 0.5rem;
    }

    .section__second .second__texto {
        font-size: 0.8em;
    }
}

@media (max-width: 430px) {
    .section__second {
        padding: 2rem;
    } 
    
    .section__second .container__second__div {
        height: 20%;
        display: block;
        padding: 0;
    }

    .section__second .container__second__div .icons__div {
        width: 80%;
        
     }

    .section__second .second__texto {
        margin: 0 0 1rem 0;
     }

     .section__second .container__second__div .icons__div {
        margin: 1rem;
     }

     .section__second .container__second__div .text__icons {
        font-size: 1em;
        margin: 1rem;
     }
}
